body {
	margin: 0;
}
header {
	background-color: darkblue;
	padding: 0px;
}
h1 {
	text-align: center;
	color: white;
}
a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
}
main {
	background-color: lightblue;
	padding: 20px;
	color: darkblue;
	min-height: 600px;
}
footer {
	background-color: darkblue;
	color: white;
	padding: 20px;
	font-size: 14px;
	text-align: center;
}

img{

width:500px;
margin:auto;
display:block;
	
	
	
	
	
	
}